
<!DOCTYPE html>
<html>
<head>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</head>

<body>
  <% if flash_waiting? %>
    <div class="flash">
      <%= read_flash %>
    </div>
  <% end %>

  <section id="login">
    <h1>Login</h1>
      <form action='/sessions' method='POST'>
        <label for="email">Email Address</label>
        <input type='text' name='email' id='email' placeholder="susan@highschool.edu" />
        <label for="password">Password</label>
        <input type='password' name='password' id='password' />
        <input type='submit'>
      </form>
  </section>

</body>
</html>
