#login label, #login input {
    display: block;
}

#login input[type="text"] {
    margin-bottom: 12px;
    width: 200px;
}

input[type="submit"] {
    padding: 4px 8px;
}

input[type="text"] {
    padding: 4px 8px;
    width: 250px;
}

input[type="password"] {
    padding: 4px 8px;
    width: 220px;
}

.edit-page h1 {
    text-align: left;
}

.spacious {
    color: #444;
    background-color: #eee;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 8px;
}

.primary {
    background-color: #3498db;
    color: white;
}

body {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

#resource_link {
  text-indent: 2%;
}

#resource_link2 {
    text-indent: 2%
}

#welcome {
    text-align: center;
}

#users_name {
    text-align: center;
}

#user_homepage {
    border: solid 5px #3498db;
    border-width: 8px;
}
