<h1>Welcome <%= @user.name %> to the Teachers App!</h1>

<form action='/signup' method='POST'>
    <button type="submit">View Standards</button>
</form>

<form action='/logout' method='POST'>
    <button type="submit">Log Out</button>
</form>
