<h1>Welcome <%= @user.name %> to the Teachers App!</h1>

<ul>
<% @standards.each do |standard|%>
  <li><%= standard.title %></li>
<% end %>
</ul>

<form action='/logout' method='POST'>
    <button type="submit">Log Out</button>
</form>
