<!DOCTYPE html>
<html>
<header>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</header>

<body>
  <% if flash_waiting? %>
    <div class="flash">
      <%= read_flash %>
    </div>
  <% end %>

  <h1>Sign Up</h1>
  <form action='/users' method='POST'>
      <p>
          <label for='name'>Name:</label>
          <input type='text' name='name' id='name' placeholder="Susan Howe" />
      </p>

      <p>
          <label for='email'>Email:</label>
          <input type='text' name='email' id='email' placeholder="susan@highschool.edu" />
      </p>

      <p>
      <label for='password'>Password:</label>
      <input type='password' name='password' id='password' />
      </p>

      <input type='submit'>
  </form>
</body>
</html>
