<h1>Edit Standard:</h1>

<form method='POST' action='/tweets/<%= @tweet.id %>'>
    <input id='hidden' type='hidden' name='_method' value='PATCH'>
    <input type='text' name='content' value='<%= @tweet.content %>'>
    <input type='submit' value='submit'>
</form>
