<h1>Edit Standard:</h1>

<form method='POST' action='/standards/<%= @standard.id %>'>
    <input type='hidden' type='hidden' name='_method' value='PATCH'>
    <label>Standard Title:
        <input id='text' name='title' value='<%= @standard.title %>'>
    </label><br><br>
    <label>Standard Description:
        <input id='text' name='description' value='<%= @standard.description %>'>
    </label><br><br>
    <input type='submit' value='Save'>
</form>
