<!DOCTYPE html>
<html>
<header>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</header>
<h1>Welcome to the Teachers App!</h1>

<a href="/signup">Sign Up</a><br>

<a href="/login">Sign In</a>
</html>
